* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  padding: 1em;
  font-size: 1em;
  color: #222;
  background-color: aliceblue;
}

body {
  /* height: 100vh; */
}

span {
  display: block;
  text-align: center;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
